<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        /* Description Overlay Pattern CSS */
        @media only screen and (max-width: 599px) {
            table {
                width: 100%;
            }

            td[class=container] {
                background-size: auto 100%;
                background-position: center top;
                width: 100%;
                height: auto;
                min-height: 200px;
                padding-top: 100px !important;
            }

            td[class=spacer] {
                display: none;
                height: 0;
            }
        }
    </style>
</head>
<body>
<table cellpadding="0" cellspacing="0" style="margin: 0 auto;">
    <tbody>
    <tr>
        <td class="container" background="<%= post.picture %>" width="600" height="448"
            style="background-position: center top; background-repeat: no-repeat;background-color: #fff;">
            <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false"
                    style="width:600px;height:448px;">
                <v:fill type="tile" src="<%= post.picture %>" color="#ff0000"/>
                <v:textbox inset="0,0,0,0">
            <![endif]-->
            <table cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td class="spacer" height="270">&nbsp;</td>
                </tr>
                <tr>
                    <td class="inner-container" width="600" height="50" align="left" valign="center"
                        style="background-color: #ccc; background: rgba(30,30,30,0.7);">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td align="left" width="50%"
                                    style="padding: 15px 15px 15px 55px; font-family: arial,sans-serif; font-size: 16px; line-height: 40px; color: #fff;">
                                    <h2><%= post.price %>€</h2>
                                </td>
                                <td align="right" width="50%"
                                    style="padding: 0 15px 15px 0; font-family: arial,sans-serif; font-size: 14px; font-weight: bold;">
                                    <a href="http://www.facebook.com/<%= post.id %>"
                                       style="text-decoration: none; color: #000; display: block; padding: 0 5px; width: 100px; text-align: center; line-height: 40px; background: #dddddd; border-radius: 3px; border-bottom: 3px solid #999999">Go
                                        to post</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if gte mso 9]>
            </v:textbox>
            </v:rect>
            <![endif]-->
        </td>
    </tr>
    <tr>
        <td align="center"><a href="<%= userid %>"
                              style="font-family: arial, sans-serif; text-decoration: none; color: #000; display: block; padding: 0 5px; width: 100px; text-align: center; line-height: 40px; background: #dddddd; border-radius: 3px; border-bottom: 3px solid #999999">Unsubscribe</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
<html>